USE [ERP_Mercury]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Синхронизация данных
-- Импорт из InterBase информации о накладных
--
-- Входные параметры
--
--		@BEGIN_DATE					- начало периода
--		@END_DATE						- конец периода
--		@IBLINKEDSERVERNAME	- имя LinkedServer
--
-- Выходные параметры
--
--		@ERROR_NUM					- код ошбики
--		@ERROR_MES					- текст ошибки
--
ALTER PROCEDURE [dbo].[usp_SynchWaybillInfoFromIB] 
	@BEGIN_DATE					D_DATE,
	@END_DATE						D_DATE,
  @IBLINKEDSERVERNAME	D_NAME = NULL,
  
  @ERROR_NUM					int output,
  @ERROR_MES					nvarchar(4000) output
  
AS
-- процедура предназначена для выборки данных из справочника цен в InterBase
BEGIN
	SET NOCOUNT ON;
	
  SET @ERROR_NUM = 0;
  SET @ERROR_MES = '';

  IF( @IBLINKEDSERVERNAME IS NULL ) SELECT @IBLINKEDSERVERNAME = dbo.GetIBLinkedServerName();

	DECLARE @strBEGIN_DATE varchar(10);
	DECLARE @strEND_DATE varchar(10);
  SET @strBEGIN_DATE = CONVERT (varchar(10), @BEGIN_DATE, 104 );
	SET @strEND_DATE = CONVERT (varchar(10), @END_DATE, 104 );
  
	BEGIN TRY

		CREATE TABLE #WAYBILL( WAYBILL_ID int, STOCK_ID int, CUSTOMER_ID int, DEPART_CODE nvarchar(3),
			WAYBILL_SRCCODE int, WAYBILL_SRCDOC nvarchar(16), WAYBILL_SRCID int,  WAYBILL_SRCDATE date,
			WAYBILL_BEGINDATE date, WAYBILL_ALLPRICE money, WAYBILL_RETALLPRICE money,
			WAYBILL_ENDDATE date, CURRENCY_CODE nvarchar(3), WAYBILL_CURRENCYRATE money,
			WAYBILL_AMOUNTPAID money, WAYBILL_DATELASTPAID date, WAYBILL_SHIPDATE date,
			WAYBILL_SHIPPED int, WAYBILL_NUM nvarchar(16), WAYBILL_ALLDISCOUNT money,
			WAYBILL_TOTALPRICE money, WAYBILL_SALDO money,  WAYBILL_CURRENCYALLPRICE money,
			WAYBILL_CURRENCYRETALLPRICE money, WAYBILL_CURRENCYAMOUNTPAID money, WAYBILL_CURRENCYALLDISCOUNT money,
			WAYBILL_CURRENCYTOTALPRICE money, WAYBILL_CURRENCYSALDO money, CHILDCUST_ID int, WAYBILL_SHIPMODE int,
			WAYBILL_INCASSO int, WAYBILL_BONUS int, COMPANY_ID int, WAYBILL_OPERDATE date, WAYBILL_EXPORTMODE int,
			WAYBILL_REPRESENTATIVE nvarchar(48), WAYBILL_RETURN int, WAYBILL_SEND int, WAYBILL_USDRATE money,
			WAYBILL_MONEYBONUS int, WAYBILL_CURRENCYMAINRATE money, WAYBILL_FORSTOCK int, WAYBILL_DELIVERYADDRESS nvarchar(128),
			WAYBILL_DELIVERYDATE date, WAYBILL_AUTOCREATED int, WAYBILL_DRIVER nvarchar(128), WAYBILL_VEHICLE nvarchar(128),
			WAYBILL_CARRIER nvarchar(128), WAYBILL_ROUTESHEET nvarchar(128), ROUTESHEET_GUID nvarchar(36),
			WAYBILL_EXCLUDEFROM_ADJ int, WAYBILL_CALCSALDO money,  WAYBILL_CURRENCYCALCSALDO money
		);
		
		CREATE TABLE #WAYBITMS( WAYBITMS_ID INT, WAYBILL_ID INT, PARTS_ID INT, MEASURE_ID INT, WAYBITMS_QUANTITY INT,
			WAYBITMS_PACKID INT, WAYBITMS_PRICE money, WAYBITMS_DATELASTPAID DATE,  WAYBITMS_AMOUNTPAID money,
			WAYBITMS_BASEPRICE money, WAYBITMS_MARKUP money, WAYBITMS_DISCOUNT money, WAYBITMS_RETQTY INT, WAYBITMS_ALLPRICE money,
			WAYBITMS_DISCOUNTPRICE money, WAYBITMS_TOTALPRICE money, WAYBITMS_LEAVQTY INT,  WAYBITMS_LEAVTOTALPRICE money,
			WAYBITMS_CURRENCYPRICE money,  WAYBITMS_CURRENCYAMOUNTPAID money, WAYBITMS_CURRENCYALLPRICE money,
			WAYBITMS_CURRENCYDISCOUNTPRICE money, WAYBITMS_CURRENCYTOTALPRICE money, WAYBITMS_CURRENCYLEAVTOTALPRICE  money,
			WAYBITMS_NDS money, WAYBITMS_DISCOUNTFROMPRICE money, SPLITMS_ID int );

		CREATE INDEX [IX_WAYBITMS_WAYBILL_ID] ON #WAYBITMS
		(
			WAYBILL_ID ASC
		);


    DECLARE @SQLString nvarchar( 4000 );
    DECLARE @ParmDefinition nvarchar( 500 );

		-- реквизиты накладной

		SELECT @SQLString = dbo.GetTextQueryForSelectFromInterbase( null, null, 
		'SELECT WAYBILL_ID, STOCK_ID, CUSTOMER_ID, DEPART_CODE,
			WAYBILL_SRCCODE, WAYBILL_SRCDOC, WAYBILL_SRCID,  WAYBILL_SRCDATE,
			WAYBILL_BEGINDATE, WAYBILL_ALLPRICE, WAYBILL_RETALLPRICE,
			WAYBILL_ENDDATE, CURRENCY_CODE, WAYBILL_CURRENCYRATE,
			WAYBILL_AMOUNTPAID, WAYBILL_DATELASTPAID, WAYBILL_SHIPDATE,
			WAYBILL_SHIPPED, WAYBILL_NUM, WAYBILL_ALLDISCOUNT,
			WAYBILL_TOTALPRICE, WAYBILL_SALDO,  WAYBILL_CURRENCYALLPRICE,
			WAYBILL_CURRENCYRETALLPRICE, WAYBILL_CURRENCYAMOUNTPAID, WAYBILL_CURRENCYALLDISCOUNT,
			WAYBILL_CURRENCYTOTALPRICE, WAYBILL_CURRENCYSALDO, CHILDCUST_ID, WAYBILL_SHIPMODE,
			WAYBILL_INCASSO, WAYBILL_BONUS, COMPANY_ID, WAYBILL_OPERDATE, WAYBILL_EXPORTMODE,
			WAYBILL_REPRESENTATIVE, WAYBILL_RETURN, WAYBILL_SEND, WAYBILL_USDRATE,
			WAYBILL_MONEYBONUS, WAYBILL_CURRENCYMAINRATE, WAYBILL_FORSTOCK, WAYBILL_DELIVERYADDRESS,
			WAYBILL_DELIVERYDATE, WAYBILL_AUTOCREATED, WAYBILL_DRIVER, WAYBILL_VEHICLE,
			WAYBILL_CARRIER, WAYBILL_ROUTESHEET, ROUTESHEET_GUID,
			WAYBILL_EXCLUDEFROM_ADJ, WAYBILL_CALCSALDO,  WAYBILL_CURRENCYCALCSALDO 
					FROM USP_GETWAYBILLINFO_BYPERIOD_FROMSQL( ' + 
      '''''' +	CAST( @strBEGIN_DATE as varchar(20)) +  ''''', ' +
      '''''' +	CAST( @strEND_DATE as varchar(20)) +  ''''' ) ' );
		SET @SQLString = 'INSERT INTO #WAYBILL( WAYBILL_ID, STOCK_ID, CUSTOMER_ID, DEPART_CODE,
			WAYBILL_SRCCODE, WAYBILL_SRCDOC, WAYBILL_SRCID,  WAYBILL_SRCDATE,
			WAYBILL_BEGINDATE, WAYBILL_ALLPRICE, WAYBILL_RETALLPRICE,
			WAYBILL_ENDDATE, CURRENCY_CODE, WAYBILL_CURRENCYRATE,
			WAYBILL_AMOUNTPAID, WAYBILL_DATELASTPAID, WAYBILL_SHIPDATE,
			WAYBILL_SHIPPED, WAYBILL_NUM, WAYBILL_ALLDISCOUNT,
			WAYBILL_TOTALPRICE, WAYBILL_SALDO,  WAYBILL_CURRENCYALLPRICE,
			WAYBILL_CURRENCYRETALLPRICE, WAYBILL_CURRENCYAMOUNTPAID, WAYBILL_CURRENCYALLDISCOUNT,
			WAYBILL_CURRENCYTOTALPRICE, WAYBILL_CURRENCYSALDO, CHILDCUST_ID, WAYBILL_SHIPMODE,
			WAYBILL_INCASSO, WAYBILL_BONUS, COMPANY_ID, WAYBILL_OPERDATE, WAYBILL_EXPORTMODE,
			WAYBILL_REPRESENTATIVE, WAYBILL_RETURN, WAYBILL_SEND, WAYBILL_USDRATE,
			WAYBILL_MONEYBONUS, WAYBILL_CURRENCYMAINRATE, WAYBILL_FORSTOCK, WAYBILL_DELIVERYADDRESS,
			WAYBILL_DELIVERYDATE, WAYBILL_AUTOCREATED, WAYBILL_DRIVER, WAYBILL_VEHICLE,
			WAYBILL_CARRIER, WAYBILL_ROUTESHEET, ROUTESHEET_GUID,
			WAYBILL_EXCLUDEFROM_ADJ, WAYBILL_CALCSALDO,  WAYBILL_CURRENCYCALCSALDO ) ' + @SQLString;

		--PRINT @SQLString;

		EXECUTE SP_EXECUTESQL @SQLString;

		-- табличная часть накладной

		SELECT @SQLString = dbo.GetTextQueryForSelectFromInterbase( null, null, 
		'SELECT WAYBITMS_ID, WAYBILL_ID, PARTS_ID, MEASURE_ID, WAYBITMS_QUANTITY,
			WAYBITMS_PACKID, WAYBITMS_PRICE, WAYBITMS_DATELASTPAID,  WAYBITMS_AMOUNTPAID,
			WAYBITMS_BASEPRICE, WAYBITMS_MARKUP, WAYBITMS_DISCOUNT, WAYBITMS_RETQTY, WAYBITMS_ALLPRICE,
			WAYBITMS_DISCOUNTPRICE, WAYBITMS_TOTALPRICE, WAYBITMS_LEAVQTY,  WAYBITMS_LEAVTOTALPRICE,
			WAYBITMS_CURRENCYPRICE,  WAYBITMS_CURRENCYAMOUNTPAID, WAYBITMS_CURRENCYALLPRICE,
			WAYBITMS_CURRENCYDISCOUNTPRICE, WAYBITMS_CURRENCYTOTALPRICE, WAYBITMS_CURRENCYLEAVTOTALPRICE,
			WAYBITMS_NDS, WAYBITMS_DISCOUNTFROMPRICE, SPLITMS_ID 
					FROM USP_GETWAYBITMSINFO_BYPERIOD_FROMSQL( ' + 
      '''''' +	CAST( @strBEGIN_DATE as varchar(20)) +  ''''', ' +
      '''''' +	CAST( @strEND_DATE as varchar(20)) +  ''''' ) ' );
		SET @SQLString = 'INSERT INTO #WAYBITMS( WAYBITMS_ID, WAYBILL_ID, PARTS_ID, MEASURE_ID, WAYBITMS_QUANTITY,
			WAYBITMS_PACKID, WAYBITMS_PRICE, WAYBITMS_DATELASTPAID,  WAYBITMS_AMOUNTPAID,
			WAYBITMS_BASEPRICE, WAYBITMS_MARKUP, WAYBITMS_DISCOUNT, WAYBITMS_RETQTY, WAYBITMS_ALLPRICE,
			WAYBITMS_DISCOUNTPRICE, WAYBITMS_TOTALPRICE, WAYBITMS_LEAVQTY,  WAYBITMS_LEAVTOTALPRICE,
			WAYBITMS_CURRENCYPRICE,  WAYBITMS_CURRENCYAMOUNTPAID, WAYBITMS_CURRENCYALLPRICE,
			WAYBITMS_CURRENCYDISCOUNTPRICE, WAYBITMS_CURRENCYTOTALPRICE, WAYBITMS_CURRENCYLEAVTOTALPRICE,
			WAYBITMS_NDS, WAYBITMS_DISCOUNTFROMPRICE, SPLITMS_ID ) ' + @SQLString;

		--PRINT @SQLString;

		EXECUTE SP_EXECUTESQL @SQLString;

		DECLARE @WAYBILL_ID int; DECLARE @STOCK_ID int; DECLARE @CUSTOMER_ID int; DECLARE @DEPART_CODE nvarchar(3);
		DECLARE @WAYBILL_SRCCODE int; DECLARE @WAYBILL_SRCDOC nvarchar(16); DECLARE @WAYBILL_SRCID int;  DECLARE @WAYBILL_SRCDATE date;
		DECLARE @WAYBILL_BEGINDATE date; DECLARE @WAYBILL_ALLPRICE money; DECLARE @WAYBILL_RETALLPRICE money;
		DECLARE @WAYBILL_ENDDATE date; DECLARE @CURRENCY_CODE nvarchar(3); DECLARE @WAYBILL_CURRENCYRATE money;
		DECLARE @WAYBILL_AMOUNTPAID money; DECLARE @WAYBILL_DATELASTPAID date; DECLARE @WAYBILL_SHIPDATE date;
		DECLARE @WAYBILL_SHIPPED int; DECLARE @WAYBILL_NUM nvarchar(16); DECLARE @WAYBILL_ALLDISCOUNT money;
		DECLARE @WAYBILL_TOTALPRICE money; DECLARE @WAYBILL_SALDO money;  DECLARE @WAYBILL_CURRENCYALLPRICE money;
		DECLARE @WAYBILL_CURRENCYRETALLPRICE money; DECLARE @WAYBILL_CURRENCYAMOUNTPAID money; DECLARE @WAYBILL_CURRENCYALLDISCOUNT money;
		DECLARE @WAYBILL_CURRENCYTOTALPRICE money; DECLARE @WAYBILL_CURRENCYSALDO money; DECLARE @CHILDCUST_ID int; DECLARE @WAYBILL_SHIPMODE int;
		DECLARE @WAYBILL_INCASSO int; DECLARE @WAYBILL_BONUS int; DECLARE @COMPANY_ID int; DECLARE @WAYBILL_OPERDATE date; DECLARE @WAYBILL_EXPORTMODE int;
		DECLARE @WAYBILL_REPRESENTATIVE nvarchar(48); DECLARE @WAYBILL_RETURN int; DECLARE @WAYBILL_SEND int; DECLARE @WAYBILL_USDRATE money;
		DECLARE @WAYBILL_MONEYBONUS int; DECLARE @WAYBILL_CURRENCYMAINRATE money; DECLARE @WAYBILL_FORSTOCK int; DECLARE @WAYBILL_DELIVERYADDRESS nvarchar(128);
		DECLARE @WAYBILL_DELIVERYDATE date; DECLARE @WAYBILL_AUTOCREATED int; DECLARE @WAYBILL_DRIVER nvarchar(128); DECLARE @WAYBILL_VEHICLE nvarchar(128);
		DECLARE @WAYBILL_CARRIER nvarchar(128); DECLARE @WAYBILL_ROUTESHEET nvarchar(128); DECLARE @ROUTESHEET_GUID nvarchar(36);
		DECLARE @WAYBILL_EXCLUDEFROM_ADJ int; DECLARE @WAYBILL_CALCSALDO money; DECLARE @WAYBILL_CURRENCYCALCSALDO money;

		DECLARE @WAYBITMS_ID INT; DECLARE @PARTS_ID INT; DECLARE @MEASURE_ID INT; DECLARE @WAYBITMS_QUANTITY INT;
			DECLARE @WAYBITMS_PACKID INT; DECLARE @WAYBITMS_PRICE money; DECLARE @WAYBITMS_DATELASTPAID DATE;  DECLARE @WAYBITMS_AMOUNTPAID money;
			DECLARE @WAYBITMS_BASEPRICE money; DECLARE @WAYBITMS_MARKUP money; DECLARE @WAYBITMS_DISCOUNT money; 
			DECLARE @WAYBITMS_RETQTY INT; DECLARE @WAYBITMS_ALLPRICE money;	DECLARE @WAYBITMS_DISCOUNTPRICE money; 
			DECLARE @WAYBITMS_TOTALPRICE money; DECLARE @WAYBITMS_LEAVQTY INT; DECLARE @WAYBITMS_LEAVTOTALPRICE money;
			DECLARE @WAYBITMS_CURRENCYPRICE money; DECLARE @WAYBITMS_CURRENCYAMOUNTPAID money; DECLARE @WAYBITMS_CURRENCYALLPRICE money;
			DECLARE @WAYBITMS_CURRENCYDISCOUNTPRICE money; DECLARE @WAYBITMS_CURRENCYTOTALPRICE money; DECLARE @WAYBITMS_CURRENCYLEAVTOTALPRICE  money;
			DECLARE @WAYBITMS_NDS money; DECLARE @WAYBITMS_DISCOUNTFROMPRICE money; DECLARE @SPLITMS_ID int;

		DECLARE @Waybill_Guid		D_GUID;
		DECLARE @Suppl_Guid			D_GUID;
		DECLARE @SupplSrc_Guid	D_GUID;
		DECLARE @Stock_Guid			D_GUID;
		DECLARE @Company_Guid		D_GUID;
		DECLARE @Currency_Guid	D_GUID;
		DECLARE @Depart_Guid		D_GUID;
		DECLARE @Customer_Guid	D_GUID;
		DECLARE @CustomerChild_Guid	D_GUID;
		DECLARE @Rtt_Guid				D_GUID;
		DECLARE @Address_Guid		D_GUID;
		DECLARE @PaymentType_Guid		D_GUID;
		DECLARE @WaybillParent_Guid	D_GUID;
		DECLARE @WaybillState_Guid	D_GUID;
		DECLARE @WaybillShipMode_Guid	D_GUID;
		DECLARE @Waybill_Quantity			D_QUANTITY;
		DECLARE @Waybill_RetQuantity	D_QUANTITY;
		DECLARE @Waybill_Weight				D_WEIGHT;
		DECLARE @Waybill_ShowInDeliveryList		D_YESNO;
		DECLARE @NationalCurrencyCode  D_CURRENCYCODE;

		DECLARE @SupplItem_Guid	D_GUID;
		DECLARE @Parts_Guid			D_GUID;
		DECLARE @Measure_Guid		D_GUID;
		DECLARE @Parts_Weight		D_WEIGHT;
		
		SET @NationalCurrencyCode = ( SELECT dbo.GetNationalCurrencyAbbr() );

		-- открываем курсор с записями из таблицы реквизитов накладной
		DECLARE crUpdate CURSOR FOR SELECT WAYBILL_ID, STOCK_ID, CUSTOMER_ID, DEPART_CODE,
			WAYBILL_SRCCODE, WAYBILL_SRCDOC, WAYBILL_SRCID,  WAYBILL_SRCDATE,
			WAYBILL_BEGINDATE, WAYBILL_ALLPRICE, WAYBILL_RETALLPRICE,
			WAYBILL_ENDDATE, CURRENCY_CODE, WAYBILL_CURRENCYRATE,
			WAYBILL_AMOUNTPAID, WAYBILL_DATELASTPAID, WAYBILL_SHIPDATE,
			WAYBILL_SHIPPED, WAYBILL_NUM, WAYBILL_ALLDISCOUNT,
			WAYBILL_TOTALPRICE, WAYBILL_SALDO,  WAYBILL_CURRENCYALLPRICE,
			WAYBILL_CURRENCYRETALLPRICE, WAYBILL_CURRENCYAMOUNTPAID, WAYBILL_CURRENCYALLDISCOUNT,
			WAYBILL_CURRENCYTOTALPRICE, WAYBILL_CURRENCYSALDO, CHILDCUST_ID, WAYBILL_SHIPMODE,
			WAYBILL_INCASSO, WAYBILL_BONUS, COMPANY_ID, WAYBILL_OPERDATE, WAYBILL_EXPORTMODE,
			WAYBILL_REPRESENTATIVE, WAYBILL_RETURN, WAYBILL_SEND, WAYBILL_USDRATE,
			WAYBILL_MONEYBONUS, WAYBILL_CURRENCYMAINRATE, WAYBILL_FORSTOCK, WAYBILL_DELIVERYADDRESS,
			WAYBILL_DELIVERYDATE, WAYBILL_AUTOCREATED, WAYBILL_DRIVER, WAYBILL_VEHICLE,
			WAYBILL_CARRIER, WAYBILL_ROUTESHEET, ROUTESHEET_GUID,
			WAYBILL_EXCLUDEFROM_ADJ, WAYBILL_CALCSALDO,  WAYBILL_CURRENCYCALCSALDO
		FROM #WAYBILL WHERE ROUTESHEET_GUID IS NOT NULL;
		OPEN crUpdate;
		fetch next from crUpdate into @WAYBILL_ID, @STOCK_ID, @CUSTOMER_ID, @DEPART_CODE,
			@WAYBILL_SRCCODE, @WAYBILL_SRCDOC, @WAYBILL_SRCID,  @WAYBILL_SRCDATE,
			@WAYBILL_BEGINDATE, @WAYBILL_ALLPRICE, @WAYBILL_RETALLPRICE,
			@WAYBILL_ENDDATE, @CURRENCY_CODE, @WAYBILL_CURRENCYRATE,
			@WAYBILL_AMOUNTPAID, @WAYBILL_DATELASTPAID, @WAYBILL_SHIPDATE,
			@WAYBILL_SHIPPED, @WAYBILL_NUM, @WAYBILL_ALLDISCOUNT,
			@WAYBILL_TOTALPRICE, @WAYBILL_SALDO,  @WAYBILL_CURRENCYALLPRICE,
			@WAYBILL_CURRENCYRETALLPRICE, @WAYBILL_CURRENCYAMOUNTPAID, @WAYBILL_CURRENCYALLDISCOUNT,
			@WAYBILL_CURRENCYTOTALPRICE, @WAYBILL_CURRENCYSALDO, @CHILDCUST_ID, @WAYBILL_SHIPMODE,
			@WAYBILL_INCASSO, @WAYBILL_BONUS, @COMPANY_ID, @WAYBILL_OPERDATE, @WAYBILL_EXPORTMODE,
			@WAYBILL_REPRESENTATIVE, @WAYBILL_RETURN, @WAYBILL_SEND, @WAYBILL_USDRATE,
			@WAYBILL_MONEYBONUS, @WAYBILL_CURRENCYMAINRATE, @WAYBILL_FORSTOCK, @WAYBILL_DELIVERYADDRESS,
			@WAYBILL_DELIVERYDATE, @WAYBILL_AUTOCREATED, @WAYBILL_DRIVER, @WAYBILL_VEHICLE,
			@WAYBILL_CARRIER, @WAYBILL_ROUTESHEET, @ROUTESHEET_GUID,
			@WAYBILL_EXCLUDEFROM_ADJ, @WAYBILL_CALCSALDO,  @WAYBILL_CURRENCYCALCSALDO;
		while @@fetch_status = 0
			begin
				SET @Waybill_Guid = NULL;
				SELECT @Waybill_Guid = [Waybill_Guid] FROM [dbo].[T_Waybill]
				WHERE [Waybill_Id] IS NOT NULL AND [Waybill_Id] = @WAYBILL_ID;

				SET @Suppl_Guid = NULL;
				SET @WaybillParent_Guid = NULL;
				SET @Waybill_Quantity = 0;
				SET @Waybill_RetQuantity= 0;
				SET @Waybill_Weight = 0;
				SET @Waybill_ShowInDeliveryList = 0;
				SET @Rtt_Guid = NULL;
				SET @Address_Guid = NULL;
				SET @Suppl_Guid = NULL;
				SET @SupplSrc_Guid = NULL;

				IF( @CURRENCY_CODE = @NationalCurrencyCode )
					SET @PaymentType_Guid = ( SELECT dbo.GetPaymentType_1_Guid() );
				ELSE
					SET @PaymentType_Guid = ( SELECT dbo.GetPaymentType_2_Guid() );

				SELECT @Stock_Guid = [Stock_Guid] FROM [dbo].[T_Stock] WHERE [Stock_Id] = @STOCK_ID;
				SELECT @Company_Guid = [Company_Guid] FROM [dbo].[T_Company] WHERE [Company_Id] = @COMPANY_ID;
				SELECT @Currency_Guid = [Currency_Guid] FROM [dbo].[T_Currency] WHERE [Currency_Abbr] = @CURRENCY_CODE;
				SELECT @Depart_Guid = [Depart_Guid] FROM [dbo].[T_Depart] WHERE [Depart_Code] = @DEPART_CODE;
				SELECT @Customer_Guid = [Customer_Guid] FROM [dbo].[T_Customer] WHERE [Customer_Id] = @CUSTOMER_ID;
				SELECT @WaybillState_Guid = [WaybillState_Guid] FROM [dbo].[T_WaybillState] WHERE [WaybillState_Id] = @WAYBILL_SHIPPED;
				SELECT @WaybillShipMode_Guid = [WaybillShipMode_Guid] FROM [dbo].[T_WaybillShipMode] WHERE [WaybillShipMode_Id] = @WAYBILL_SHIPMODE;

				SET @CustomerChild_Guid = NULL;
				IF( ( @CHILDCUST_ID IS NOT NULL ) AND ( @CHILDCUST_ID <> 0 ) )
					SELECT @CustomerChild_Guid = [CustomerChild_Guid] FROM [dbo].[T_CustomerChild] WHERE [CustomerChild_Id] = @CHILDCUST_ID;
				
				SET @Rtt_Guid	= NULL;
				SET @Address_Guid	= NULL;

				IF( @ROUTESHEET_GUID IS NOT NULL )
					BEGIN
						SELECT @Suppl_Guid = [Suppl_Guid] FROM [dbo].[T_RouteSheetSuppl] WHERE [Suppl_Id] = @WAYBILL_SRCID;
						
						IF( @Suppl_Guid IS NOT NULL )
							SELECT @SupplSrc_Guid = Suppl_Guid FROM T_Suppl WHERE Suppl_Guid = @Suppl_Guid;

						IF( @SupplSrc_Guid IS NOT NULL )
							SELECT TOP 1 @Rtt_Guid = [Rtt_Guid] FROM [dbo].[T_RouteSheetSuppl] 
							WHERE [RouteSheet_Guid] = @ROUTESHEET_GUID AND [Suppl_Guid] = @SupplSrc_Guid;

						IF( @Rtt_Guid IS NOT NULL )
							SELECT TOP 1 @Address_Guid = [Address_Guid] FROM [dbo].[T_RttAddress] WHERE [Rtt_Guid] = @Rtt_Guid;
					END 
				
				IF( ( @Suppl_Guid IS NOT NULL ) AND ( @Rtt_Guid IS NOT NULL ) )
					BEGIN

						IF( @Waybill_Guid IS NULL )
							BEGIN
								SET @Waybill_Guid = NEWID();

								INSERT INTO T_Waybill( Waybill_Guid, Waybill_Id, Suppl_Guid, Stock_Guid, Company_Guid, 
									Currency_Guid, Depart_Guid, Customer_Guid, CustomerChild_Guid, Rtt_Guid, Address_Guid, 
									PaymentType_Guid, Waybill_Num, Waybill_BeginDate, Waybill_DeliveryDate, 
									WaybillParent_Guid, Waybill_Bonus, WaybillState_Guid, WaybillShipMode_Guid, 
									Waybill_ShipDate,  Waybill_CurrencyRate, Waybill_AllPrice, Waybill_RetAllPrice, Waybill_AllDiscount, 
									Waybill_AmountPaid, Waybill_CurrencyAllPrice, Waybill_CurrencyRetAllPrice, Waybill_CurrencyAllDiscount, 
									Waybill_CurrencyAmountPaid, Waybill_Quantity, Waybill_RetQuantity, Waybill_Weight, Waybill_ShowInDeliveryList )
								VALUES( @Waybill_Guid, @WAYBILL_ID, @SupplSrc_Guid, @Stock_Guid, @Company_Guid, 
									@Currency_Guid, @Depart_Guid, @Customer_Guid, @CustomerChild_Guid, @Rtt_Guid, @Address_Guid, 
									@PaymentType_Guid, @WAYBILL_NUM, @WAYBILL_BEGINDATE, @WAYBILL_DELIVERYDATE, 
									@WaybillParent_Guid, @WAYBILL_BONUS, @WaybillState_Guid, @WaybillShipMode_Guid, 
									@Waybill_ShipDate, @WAYBILL_CURRENCYRATE, @WAYBILL_ALLPRICE, @WAYBILL_RETALLPRICE, @WAYBILL_ALLDISCOUNT, 
									@WAYBILL_AMOUNTPAID, @WAYBILL_CURRENCYALLPRICE, @WAYBILL_CURRENCYRETALLPRICE, @WAYBILL_CURRENCYALLDISCOUNT, 
									@WAYBILL_CURRENCYAMOUNTPAID, @Waybill_Quantity, @Waybill_RetQuantity, @Waybill_Weight, @Waybill_ShowInDeliveryList );
							END
						ELSE
							BEGIN
								UPDATE T_Waybill SET WaybillState_Guid = @WaybillState_Guid, WaybillShipMode_Guid = @WaybillShipMode_Guid, 
									Waybill_ShipDate =  @Waybill_ShipDate, Waybill_CurrencyRate =  @WAYBILL_CURRENCYRATE, 
									Waybill_AllPrice = @WAYBILL_ALLPRICE, Waybill_RetAllPrice = @WAYBILL_RETALLPRICE, 
									Waybill_AllDiscount = @WAYBILL_ALLDISCOUNT, Waybill_AmountPaid = @WAYBILL_AMOUNTPAID, 
									Waybill_CurrencyAllPrice = @WAYBILL_CURRENCYALLPRICE, Waybill_CurrencyRetAllPrice = @WAYBILL_CURRENCYRETALLPRICE, 
									Waybill_CurrencyAllDiscount = @WAYBILL_CURRENCYALLDISCOUNT, Waybill_CurrencyAmountPaid = @WAYBILL_CURRENCYAMOUNTPAID
								WHERE Waybill_Guid = @Waybill_Guid;
							END

						DELETE FROM [dbo].[T_WaybItem] WHERE [Waybill_Guid] = @Waybill_Guid;

						DECLARE crUpdateItem CURSOR FOR SELECT WAYBITMS_ID, PARTS_ID, MEASURE_ID, WAYBITMS_QUANTITY,
							WAYBITMS_PACKID, WAYBITMS_PRICE, WAYBITMS_DATELASTPAID,  WAYBITMS_AMOUNTPAID,
							WAYBITMS_BASEPRICE, WAYBITMS_MARKUP, WAYBITMS_DISCOUNT, WAYBITMS_RETQTY, WAYBITMS_ALLPRICE,
							WAYBITMS_DISCOUNTPRICE, WAYBITMS_TOTALPRICE, WAYBITMS_LEAVQTY,  WAYBITMS_LEAVTOTALPRICE,
							WAYBITMS_CURRENCYPRICE,  WAYBITMS_CURRENCYAMOUNTPAID, WAYBITMS_CURRENCYALLPRICE,
							WAYBITMS_CURRENCYDISCOUNTPRICE, WAYBITMS_CURRENCYTOTALPRICE, WAYBITMS_CURRENCYLEAVTOTALPRICE,
							WAYBITMS_NDS, WAYBITMS_DISCOUNTFROMPRICE, SPLITMS_ID
						FROM #WAYBITMS WHERE WAYBILL_ID = @WAYBILL_ID;
						OPEN crUpdateItem;
						fetch next from crUpdateItem into @WAYBITMS_ID, @PARTS_ID, @MEASURE_ID, @WAYBITMS_QUANTITY,
							@WAYBITMS_PACKID, @WAYBITMS_PRICE, @WAYBITMS_DATELASTPAID,  @WAYBITMS_AMOUNTPAID,
							@WAYBITMS_BASEPRICE, @WAYBITMS_MARKUP, @WAYBITMS_DISCOUNT, @WAYBITMS_RETQTY, @WAYBITMS_ALLPRICE,
							@WAYBITMS_DISCOUNTPRICE, @WAYBITMS_TOTALPRICE, @WAYBITMS_LEAVQTY, @WAYBITMS_LEAVTOTALPRICE,
							@WAYBITMS_CURRENCYPRICE, @WAYBITMS_CURRENCYAMOUNTPAID, @WAYBITMS_CURRENCYALLPRICE,
							@WAYBITMS_CURRENCYDISCOUNTPRICE, @WAYBITMS_CURRENCYTOTALPRICE, @WAYBITMS_CURRENCYLEAVTOTALPRICE,
							@WAYBITMS_NDS, @WAYBITMS_DISCOUNTFROMPRICE, @SPLITMS_ID;
						while @@fetch_status = 0
						begin

							SET @SupplItem_Guid	= NULL;
							SET @Parts_Guid	= NULL;
							SET @Measure_Guid	= NULL;

							SELECT @Parts_Guid = [Parts_Guid] FROM [dbo].[T_Parts] WHERE [Parts_Id] = @PARTS_ID;
							SELECT TOP 1 @Measure_Guid = [Measure_Guid] FROM [dbo].[T_Measure];
							SELECT @SupplItem_Guid = [SupplItem_Guid] FROM [dbo].[T_SupplItem] WHERE [Splitms_Id] = @SPLITMS_ID;

							INSERT INTO [dbo].[T_WaybItem]( WaybItem_Guid, SupplItem_Guid, Waybill_Guid, Parts_Guid, Measure_Guid, 
								WaybItem_Quantity, WaybItem_RetQuantity, WaybItem_Price, WaybItem_Discount, WaybItem_DiscountPrice, 
								WaybItem_CurrencyPrice, WaybItem_CurrencyDiscountPrice, 
								WaybItem_NDSPercent, WaybItem_PriceImporter, WaybItem_Id )
							VALUES( NEWID(), @SupplItem_Guid, @Waybill_Guid, @Parts_Guid, @Measure_Guid, 
								@WAYBITMS_QUANTITY, @WAYBITMS_RETQTY, @WAYBITMS_PRICE,  @WAYBITMS_DISCOUNTFROMPRICE, @WAYBITMS_DISCOUNTPRICE, 
								@WAYBITMS_CURRENCYPRICE, @WAYBITMS_CURRENCYDISCOUNTPRICE, 
								@WAYBITMS_NDS, @WAYBITMS_BASEPRICE, @WAYBITMS_ID );

							fetch next from crUpdateItem into @WAYBITMS_ID, @PARTS_ID, @MEASURE_ID, @WAYBITMS_QUANTITY,
										@WAYBITMS_PACKID, @WAYBITMS_PRICE, @WAYBITMS_DATELASTPAID,  @WAYBITMS_AMOUNTPAID,
										@WAYBITMS_BASEPRICE, @WAYBITMS_MARKUP, @WAYBITMS_DISCOUNT, @WAYBITMS_RETQTY, @WAYBITMS_ALLPRICE,
										@WAYBITMS_DISCOUNTPRICE, @WAYBITMS_TOTALPRICE, @WAYBITMS_LEAVQTY, @WAYBITMS_LEAVTOTALPRICE,
										@WAYBITMS_CURRENCYPRICE, @WAYBITMS_CURRENCYAMOUNTPAID, @WAYBITMS_CURRENCYALLPRICE,
										@WAYBITMS_CURRENCYDISCOUNTPRICE, @WAYBITMS_CURRENCYTOTALPRICE, @WAYBITMS_CURRENCYLEAVTOTALPRICE,
										@WAYBITMS_NDS, @WAYBITMS_DISCOUNTFROMPRICE, @SPLITMS_ID;
						end -- while @@fetch_status = 0

						close crUpdateItem;
						deallocate crUpdateItem;

						SET @Waybill_Quantity = 0;
						SET @Waybill_RetQuantity= 0;
						SET @Waybill_Weight = 0;

						SELECT @Waybill_Quantity = SUM( [WaybItem_Quantity] ), @Waybill_RetQuantity = SUM( [WaybItem_RetQuantity] ), 
							@Waybill_Weight = SUM( [WaybItem_Quantity] * Parts.Parts_Weight  ) 
						FROM [dbo].[T_WaybItem] AS WaybItem INNER JOIN T_Parts AS Parts ON WaybItem.Parts_Guid = Parts.Parts_Guid
						WHERE WaybItem.Waybill_Guid = @Waybill_Guid;

						UPDATE [dbo].[T_Waybill] SET [Waybill_Quantity] = @Waybill_Quantity, 
							[Waybill_RetQuantity] = @Waybill_RetQuantity, [Waybill_Weight] = @Waybill_Weight
						WHERE Waybill_Guid = @Waybill_Guid
							AND ( @Waybill_Quantity IS NOT NULL )
							AND ( @Waybill_RetQuantity IS NOT NULL )
							AND ( @Waybill_Weight IS NOT NULL )
							;

					END

				fetch next from crUpdate into @WAYBILL_ID, @STOCK_ID, @CUSTOMER_ID, @DEPART_CODE,
					@WAYBILL_SRCCODE, @WAYBILL_SRCDOC, @WAYBILL_SRCID,  @WAYBILL_SRCDATE,
					@WAYBILL_BEGINDATE, @WAYBILL_ALLPRICE, @WAYBILL_RETALLPRICE,
					@WAYBILL_ENDDATE, @CURRENCY_CODE, @WAYBILL_CURRENCYRATE,
					@WAYBILL_AMOUNTPAID, @WAYBILL_DATELASTPAID, @WAYBILL_SHIPDATE,
					@WAYBILL_SHIPPED, @WAYBILL_NUM, @WAYBILL_ALLDISCOUNT,
					@WAYBILL_TOTALPRICE, @WAYBILL_SALDO,  @WAYBILL_CURRENCYALLPRICE,
					@WAYBILL_CURRENCYRETALLPRICE, @WAYBILL_CURRENCYAMOUNTPAID, @WAYBILL_CURRENCYALLDISCOUNT,
					@WAYBILL_CURRENCYTOTALPRICE, @WAYBILL_CURRENCYSALDO, @CHILDCUST_ID, @WAYBILL_SHIPMODE,
					@WAYBILL_INCASSO, @WAYBILL_BONUS, @COMPANY_ID, @WAYBILL_OPERDATE, @WAYBILL_EXPORTMODE,
					@WAYBILL_REPRESENTATIVE, @WAYBILL_RETURN, @WAYBILL_SEND, @WAYBILL_USDRATE,
					@WAYBILL_MONEYBONUS, @WAYBILL_CURRENCYMAINRATE, @WAYBILL_FORSTOCK, @WAYBILL_DELIVERYADDRESS,
					@WAYBILL_DELIVERYDATE, @WAYBILL_AUTOCREATED, @WAYBILL_DRIVER, @WAYBILL_VEHICLE,
					@WAYBILL_CARRIER, @WAYBILL_ROUTESHEET, @ROUTESHEET_GUID,
					@WAYBILL_EXCLUDEFROM_ADJ, @WAYBILL_CALCSALDO,  @WAYBILL_CURRENCYCALCSALDO;
			end -- while @@fetch_status = 0

		close crUpdate;
		deallocate crUpdate;


		--SELECT * FROM #WAYBILL;
		--SELECT * FROM #WAYBITMS;

		DROP INDEX [IX_WAYBITMS_WAYBILL_ID] ON #WAYBITMS;
		DROP TABLE #WAYBITMS;
		DROP TABLE #WAYBILL;

 	END TRY
	BEGIN CATCH
    SET @ERROR_NUM = ERROR_NUMBER();
    SET @ERROR_MES = ERROR_MESSAGE();

		RETURN @ERROR_NUM;
	END CATCH;

	RETURN @ERROR_NUM;

END

GO
GRANT EXECUTE ON [dbo].[usp_SynchWaybillInfoFromIB] TO [public]
GO
