USE [ERP_Mercury]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creation date:	
-- Author:			

CREATE FUNCTION [dbo].[GetBarcodesStringForParts] ( @Parts_Guid D_GUID )
RETURNS NVARCHAR(128)
WITH EXECUTE AS caller
AS
BEGIN
  
	DECLARE @Barcode NVARCHAR(128);
	SET @Barcode = '';

	SELECT @Barcode = @Barcode + ' ' + Barcode FROM dbo.T_PartsBarcode WHERE Parts_Guid = @Parts_Guid;

	IF( @Barcode IS NULL ) SET @Barcode = '';

	RETURN @Barcode;
end

GO
GRANT EXECUTE ON [dbo].[GetBarcodesStringForParts] TO [public]
GO

/****** Object:  StoredProcedure [dbo].[usp_SynchWaybillInfoFromIB]    Script Date: 08.04.2014 13:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Приложение к накладной
--
-- Входные параметры
--
--		@Waybill_Guid				- УИ накладной
--		@IBLINKEDSERVERNAME	- имя LinkedServer
--
-- Выходные параметры
--
--		@ERROR_NUM					- код ошбики
--		@ERROR_MES					- текст ошибки
--
CREATE PROCEDURE [dbo].[usp_GetWaybillProduction4StockFromIB] 
	@Waybill_Guid				D_GUID,
  @IBLINKEDSERVERNAME	D_NAME = NULL,
  
  @ERROR_NUM					int output,
  @ERROR_MES					nvarchar(4000) output
  
AS
-- процедура предназначена для выборки данных из справочника цен в InterBase
BEGIN
	SET NOCOUNT ON;
	
  SET @ERROR_NUM = 0;
  SET @ERROR_MES = '';

  IF( @IBLINKEDSERVERNAME IS NULL ) SELECT @IBLINKEDSERVERNAME = dbo.GetIBLinkedServerName();

	DECLARE @Waybill_Id int = NULL;

	SELECT @Waybill_Id = [Waybill_Id] FROM [dbo].[T_Waybill] WHERE [Waybill_Guid] = @Waybill_Guid;
	IF( @Waybill_Id IS NULL )
		BEGIN
			SET @ERROR_NUM = 1;
			SET @ERROR_MES = 'Накладная с указанным идентификатором не найдена в БД. УИ: ' + CONVERT( nvarchar(36), @Waybill_Guid );

			RETURN @ERROR_NUM;
		END
  
	BEGIN TRY

		CREATE TABLE #WAYBITMS( Parts_Guid uniqueidentifier, Parts_Barcode nvarchar(13), Parts_BarcodeList nvarchar(128),
			WAYBITMS_ID INT, PARTS_ID int, PARTS_FULLNAME nvarchar(74), OWNER_NAME nvarchar(32), MEASURE_SHORTNAME nvarchar(16),
			WAYBITMS_QUANTITY int,  WAYBITMS_BASEPRICE money, WAYBITMS_PERCENT nvarchar(10), WAYBITMS_DOUBLEPERCENT money,
			WAYBITMS_TOTALPRICEWITHOUTNDS money, WAYBITMS_NDS money, WAYBITMS_STRNDS nvarchar(5), WAYBITMS_NDSTOTALPRICE money,
			WAYBITMS_TOTALPRICE money, WAYBITMS_WEIGHT money, WAYBITMS_PLACES nvarchar(5), WAYBITMS_INTPLACES int,
			WAYBITMS_TARA nvarchar(5), WAYBITMS_QTYINPLACE nvarchar(5), PARTS_CERTIFICATE nvarchar(250), WAYBITMS_NOTES nvarchar(100),
			WAYBITMS_PRICEWITHOUTNDS money, COUNTRY_NAME nvarchar(52) );

		--CREATE INDEX [IX_WAYBITMS_WAYBILL_ID] ON #WAYBITMS
		--(
		--	WAYBILL_ID ASC
		--);


    DECLARE @SQLString nvarchar( 4000 );
    DECLARE @ParmDefinition nvarchar( 500 );

		-- табличная часть накладной

		SELECT @SQLString = dbo.GetTextQueryForSelectFromInterbase( null, null, 
		'SELECT WAYBITMS_ID, PARTS_ID, PARTS_FULLNAME, OWNER_NAME, MEASURE_SHORTNAME,
			WAYBITMS_QUANTITY,  WAYBITMS_BASEPRICE, WAYBITMS_PERCENT, WAYBITMS_DOUBLEPERCENT,
			WAYBITMS_TOTALPRICEWITHOUTNDS, WAYBITMS_NDS, WAYBITMS_STRNDS, WAYBITMS_NDSTOTALPRICE,
			WAYBITMS_TOTALPRICE, WAYBITMS_WEIGHT, WAYBITMS_PLACES, WAYBITMS_INTPLACES,
			WAYBITMS_TARA, WAYBITMS_QTYINPLACE, PARTS_CERTIFICATE, WAYBITMS_NOTES,
			WAYBITMS_PRICEWITHOUTNDS, COUNTRY_NAME 
					FROM SP_GETWAYBILLPRODUCTION4STOCK( ' +	CAST( @Waybill_Id as varchar(20)) + ' ) ' );
		SET @SQLString = 'INSERT INTO #WAYBITMS( WAYBITMS_ID, PARTS_ID, PARTS_FULLNAME, OWNER_NAME, MEASURE_SHORTNAME,
			WAYBITMS_QUANTITY,  WAYBITMS_BASEPRICE, WAYBITMS_PERCENT, WAYBITMS_DOUBLEPERCENT,
			WAYBITMS_TOTALPRICEWITHOUTNDS, WAYBITMS_NDS, WAYBITMS_STRNDS, WAYBITMS_NDSTOTALPRICE,
			WAYBITMS_TOTALPRICE, WAYBITMS_WEIGHT, WAYBITMS_PLACES, WAYBITMS_INTPLACES,
			WAYBITMS_TARA, WAYBITMS_QTYINPLACE, PARTS_CERTIFICATE, WAYBITMS_NOTES,
			WAYBITMS_PRICEWITHOUTNDS, COUNTRY_NAME ) ' + @SQLString;

		--PRINT @SQLString;

		EXECUTE SP_EXECUTESQL @SQLString;

		UPDATE #WAYBITMS SET Parts_Guid = dbo.GetPartsGuidForPartsId( PARTS_ID );
		UPDATE #WAYBITMS SET Parts_Barcode = dbo.GetBarcodeForParts( Parts_Guid ),  Parts_BarcodeList = dbo.GetBarcodesStringForParts( Parts_Guid )
		WHERE Parts_Guid IS NOT NULL;

		SELECT WAYBITMS_ID, PARTS_ID, PARTS_FULLNAME, OWNER_NAME, MEASURE_SHORTNAME,
			WAYBITMS_QUANTITY,  WAYBITMS_BASEPRICE, WAYBITMS_PERCENT, WAYBITMS_DOUBLEPERCENT,
			WAYBITMS_TOTALPRICEWITHOUTNDS, WAYBITMS_NDS, WAYBITMS_STRNDS, WAYBITMS_NDSTOTALPRICE,
			WAYBITMS_TOTALPRICE, WAYBITMS_WEIGHT, WAYBITMS_PLACES, WAYBITMS_INTPLACES,
			WAYBITMS_TARA, WAYBITMS_QTYINPLACE, PARTS_CERTIFICATE, WAYBITMS_NOTES,
			WAYBITMS_PRICEWITHOUTNDS, COUNTRY_NAME, Parts_Guid, Parts_Barcode, Parts_BarcodeList
		FROM #WAYBITMS
		ORDER BY PARTS_FULLNAME;


		--DROP INDEX [IX_WAYBITMS_WAYBILL_ID] ON #WAYBITMS;
		DROP TABLE #WAYBITMS;

 	END TRY
	BEGIN CATCH
    SET @ERROR_NUM = ERROR_NUMBER();
    SET @ERROR_MES = ERROR_MESSAGE();

		RETURN @ERROR_NUM;
	END CATCH;

	RETURN @ERROR_NUM;

END

GO
GRANT EXECUTE ON [dbo].[usp_GetWaybillProduction4StockFromIB] TO [public]
GO
